html,body,ul{
    height: 100%;
    width: 100%;
}

html{
    background-color:#f5f8ff;
}

header{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: rgb(245,248,255);
    background: linear-gradient(0deg,rgba(245, 248, 255,1)0%,rgba(255,101,163,1)100%);
}

h1{
    font-size: 3.5rem;
    font-family: 'Montserrat',sans-serif;
    width: 30%;
}

h2{
    font-size: 4rem;
    text-decoration: underline;
    font-family: 'Montserrat',sans-serif;
}

main{
    height:95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li{
    height: 15rem;
}

a{
    height: inherit;
    width: inherit;
}

.direita{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.esquerda{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.esq{
    position: absolute;
    left: 0;
    top: 0;
}

.dir{
    position: absolute;
    bottom: 0;
    right: 0;
}

.l{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#amigo,#party{
    border: 0.1rem solid black;
    border-radius: 50%;
    height: inherit;
    width: inherit;
    background-color:#ff65a3;
}

footer{
    padding: 1.5rem;
}

#voltar{
    height: 50px;
    width: 60px;
}