html,body{
    width: 100%;
    height: 100%;
}

html{
    background-color: #f5f8ff;
}

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245,248,255);
    background: linear-gradient(0deg,rgba(245, 248, 255,1)0%,rgba(255,101,163,1)100%);
}

ul li ul li{
    font-family: 'Zilla Slab',serif;
}

h1 {
    display: flex;
    font-family: 'Montserrat',sans-serif;
    font-size: 3.5rem;
}
main {
    display:flex;
    flex-direction: column;
    padding: 2rem;
}

.bloco1{
    display:flex;
    flex-direction:row;
    margin-bottom: 1rem;

}
.bloco2{
    display:flex;
    flex-direction:row-reverse;
    margin-bottom: 1rem;
}
li ul{
    display:flex;
    flex-direction: column;
    background-color: #f9bbb1;
  	position: relative;
  	border-radius: 10%;
    padding: 1rem;
    min-width: 3rem;
}

.left{
    border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 3rem solid #f9bbb1;
	position: absolute;
	top: 60%;
	left: -1.7rem;
	transform: rotate(60deg);
}

.right{
    border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 3rem solid #f9bbb1;
	position: absolute;
	top: 60%;
	right: -1.7rem;
	transform: rotate(-60deg);
}

#escolheu{
    display: block;
    width: 100%;
    text-decoration: none;
    height: 0.8rem;
    padding: 11%;
    text-align: center;
    color: #f5f8ff;
    background: #cc0051;
    border-radius: 10%;
    font-weight: bold;
    line-height: 0.6rem;
    font-size: large;
}

.user{
    width: 15rem;
    height:15rem;
    border-radius: 50%;
}
.visualizado{
    width: 6rem;
    height: 1.5rem;;
}
.horario{
    font-size:0.8rem;
    font-style:italic;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-wrap: wrap-reverse;
}
#input{
    display:flex;
    flex-direction:row;
}

#voltar{
    padding: 1rem;
}
#img_voltar{
    width:4rem;
    height:3rem;
}
#voltar a{
    height:100%;
}

#mensagens{
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    padding-right:1.3rem;
}

.hor{
    font-size: 0.85rem;
    font-style: italic;
}

#ultimo{
    margin-bottom: 2rem;
}

#laos{
    height: 100%;
    width: 100%;
}