html,body{
    width: 100%;
    height: 100%;
}
header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    font:"Times New Roman";
    font-size: 3.5rem;
}
main {
    display:flex;
    flex-direction: column;
}

.bloco1{
    display:flex;
    flex-direction:row;

}
.bloco2{
    display:flex;
    flex-direction:row-reverse;
}
li ul{
    display:flex;
    flex-direction: column;
}

.user{
    width: 15rem;
    height:15rem;
    border-radius: 50%;
}
.visualizado{
    width: 6rem;
    height: 1.5rem;;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
#input{
    display:flex;
    flex-direction:row;
}
#escolhemos{
width:90px;
height:90px;
}
#voltar{
position:absolute;
bottom:1rem;
left:72rem;
}
#img_voltar{
    width:80px;
    height:50px;
}
#voltar a{
    height:100%;
}