html,body{
    width: 100%;
    height: 100%;
}
header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    font-size: 3.5rem;
}
main {
    display:flex;
    flex-direction: column;
    padding: 2rem;
}

.bloco1{
    display:flex;
    flex-direction:row;

}
.bloco2{
    display:flex;
    flex-direction:row-reverse;
}
li ul{
    display:flex;
    flex-direction: column;
}

#escolheu{
    display: block;
    width: 115px;
    height: 0.4rem;
    padding: 10px;
    text-align: center;
    color: black;
    background: #4E9CAF; /*placeholder*/
    border-radius: 5px;
    font-weight: bold;
    line-height: 0.2rem;
}

.user{
    width: 15rem;
    height:15rem;
    border-radius: 50%;
}
.visualizado{
    width: 6rem;
    height: 1.5rem;;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
#input{
    display:flex;
    flex-direction:row;
}
#escolhemos{
width:90px;
height:90px;
}
#voltar{
position:absolute;
bottom:1rem;
left:1rem;
}
#img_voltar{
    width:80px;
    height:50px;
}
#voltar a{
    height:100%;
}