html,body{
    width: 100%;
    height: 100%;
}

html{
    background-color: #f5f8ff;
}

header{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245,248,255);
    background: linear-gradient(0deg,rgba(245, 248, 255,1)0%,rgba(255,101,163,1)100%);
}

header h1{
    color: #000000;
    font-family: 'Montserrat',sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-right: 3rem;
}

main,li{
    height: 100%;

}

ul{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    background-color: #ff0066;
    text-decoration: none;
}

p{
    text-align: center;
    font-size: x-large;
    color:#f5f8ff;
    font-family: 'Montserrat', sans-serif; 
}

h1{
    font-size: 4rem;
    width: 22%;
    text-align: center;
}

#meio{
    justify-content: flex-end;
}